/**@font-face {
    font-family: 'Lato';
    src: url('lato-regular.eot');
    src: url('lato-regular.eot?#iefix') format('embedded-opentype'),
         url('lato-regular.woff') format('woff'),
         url('lato-regular.ttf') format('truetype'),
         url('lato-regular.svg#LatoRegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('lato-bold.eot');
    src: url('lato-bold.eot?#iefix') format('embedded-opentype'),
         url('lato-bold.woff') format('woff'),
         url('lato-bold.ttf') format('truetype'),
         url('lato-bold.svg#LatoBoldBold') format('svg');
    font-weight: bold;
    font-style: normal;
}**/
@mixin fontFace($family,$src) {
	@font-face {
		font-family: $family;
        src: url('#{$src}.eot');
        src: url('#{$src}.eot?') format('embedded-opentype'),
             url('#{$src}.ttf') format('truetype');
	}
}