@charset "UTF-8";
.HubModal {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  width: 30vw;
  padding: 0;
  height: fit-content;
  position: relative;
  top: 3vh; }
  .HubModal__overlay {
    background: rgba(55, 55, 55, 0.6);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    overflow-y: auto; }
    .HubModal__overlay html:root {
      width: calc(100% - 17px);
      position: fixed;
      top: 0px;
      overflow: hidden; }
  .HubModal--Centered {
    align-self: center; }
    .HubModal--Centered .HubModal__overlay {
      align-items: center; }
  .HubModal__Header {
    color: #5a5a5a;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700 !important;
    background: #f6f6f6;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between; }
    .HubModal__Header__Action {
      flex-grow: 1;
      padding: 10px;
      color: #2199ca; }
    .HubModal__Header__Content {
      flex-grow: 1;
      padding: 10px; }
      .HubModal__Header__Content i {
        color: #2199ca; }
    .HubModal__Header__Aside {
      padding: 10px; }
    .HubModal__Header__close {
      padding: 10px; }
      .HubModal__Header__close:before {
        content: "\D7";
        font-family: inherit;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0.5em 0.25em;
        margin-right: -0.2em;
        color: #5a5a5a;
        background-color: transparent;
        opacity: 0.55; }
      .HubModal__Header__close:hover:before {
        opacity: 0.85; }
  .HubModal__Content {
    background: #fff;
    padding: 10px;
    color: #5a5a5a; }
    .HubModal__Content-fullHeight {
      overflow: auto;
      max-height: 80vh; }
    .HubModal__Content:after {
      content: "";
      display: block;
      clear: both; }
  .HubModal__Footer {
    color: #5a5a5a;
    border-top: 1px solid #ddd;
    background: #f6f6f6;
    transition: all 300ms;
    padding: 10px;
    display: flex;
    justify-content: space-between; }
    .HubModal__Footer__Action {
      flex-grow: 1;
      padding: 10px 10px 10px 0; }
    .HubModal__Footer__Aside {
      padding: 10px 0 10px 10px; }
    .HubModal__Footer--aside {
      justify-content: flex-end; }
      .HubModal__Footer--aside .HubModal__Footer__Action {
        flex-grow: 0; }
    .HubModal__Footer--centered {
      justify-content: center; }
      .HubModal__Footer--centered .HubModal__Footer__Action {
        flex-grow: 0; }
    .HubModal__Footer:hover {
      background: #f1f1f1; }
    .HubModal__Footer a {
      color: inherit;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      display: block;
      padding: 10px; }
      .HubModal__Footer a i {
        color: inherit; }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .HubModal-full-height-mobile {
    max-width: 100vw !important;
    height: 100vh; }
  .HubModal__overlay-full-height-mobile {
    padding: 0 !important; }
  .HubModal-full-height-mobile .HubModal__Content {
    min-height: calc(100vh - 123px); }
  .HubModal-full.HubModal-full-height-mobile .HubModal__Content {
    min-height: 100vh; } }


/*# sourceMappingURL=main.css.map*/